#projects {
  position: relative;
  margin: 0;
  width: 100%;
}

.projects__bg img {
  position: absolute;
  z-index: -1;
  top: -0.01%;
}

[data-theme='dark'] .projects__bg{
  opacity: 0;
  transition: all .5s ease;
}

.projects__main {
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.projects__main h1 {
  color: white;
}

.projects__boxes {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  gap: 3rem;
  margin: 2rem 10rem;
  align-items: stretch;
}

.projects__box {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid var(--color-font);
  border-radius: 10%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  width: 20rem;
}

.projects__box img {
  border: 0.1rem solid var(--color-font);
  border-radius: 10%;
  padding: 1rem;
  width: 20rem;
}

.projects__box h3 {
  font-family: copper, sans-serif;
}

.projects__box a {
  background-color: var(--color-bg);
  border: 2px solid var(--color-secundary);
  color: var(--color-font);
  border-radius: 2rem;
  width:fit-content;
  transition: var(--transition-fast);
  padding: 0.5rem;
}
.projects__box a:hover {
  background-color: var(--color-terciary-variant);
  color: var(--color-bg);
  border-radius: 2rem;
  width:fit-content;
}
