header {
  display: flex;
  /* display: grid;
  grid-template:
    ". h3 socials"
    ". h2 ."
    "btn img ."
    ". h1 ."; */
  margin-top: 2rem;
  justify-content: center;
}

.header__container {
  position: relative;
  height: 100%;
  text-align: center;
}

.header__socials {
  font-size: 2rem;
  position: relative;
  display: flex;
  flex-direction: row;
  grid-area: socials;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.8rem;
  right: 10rem;
  top: 0.3rem;
}

.header__buttons {
  position: relative;
  display: flex;
  flex-flow: column;
  grid-area: btn;
  margin-top: 1rem;
  gap: 1.2rem;
  justify-content: center;
}

header #button__linkedin,
header #button__github {
  transition: var(--transition);
}
header #button__linkedin {
  color: rgb(15, 96, 189);
}

header #button__linkedin:hover,
header #button__github:hover {
  color: var(--color-terciary-variant);
}

.header__img {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  right: 5rem;
  position: relative;
  justify-content: center;
  margin: 0 auto;
}

.header__img img {
  grid-area: img;
  justify-items: center;
  /* width: 20rem; */
  height: 35rem;
  border-radius: 12rem 12rem 0 0;
}

header h3 {
  font-family: copper;
  color: var(--color-secundary);
  grid-area: h3;
}

header h2 {
  font-size: 3rem;
  grid-area: h2;
}

header h1 {
  position: relative;
  justify-content: flex-end;
  margin-top: 0rem;
  grid-area: h1;
}

/* MEDIA QUERIES (TABLET) */

@media screen and (max-width: 1024px) {
  .header__container {
    grid-template:
      "h3 socials"
      ". h2"
      ". img"
      ". btn"
      ". h1";
  }

  .header__img {
    flex-direction: column-reverse;
    align-items: center;
    gap:0;
    right:0;
  }

  .header__buttons {
    flex-direction: row;
  }
}



/* MEDIA QUERIES (SMARTPHONES)*/
@media screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 0;
    margin: 0 auto;
  }

  .header__socials {
    right: 0;
  }

  .header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header__img img {
    display: flex;
    object-fit: cover;
  }

  header h1 {
    font-size: 2.2rem;
  } 
}