header {
  display: flex;
  justify-content: center;
}

.header__container {
  position: relative;
  height: 100%;
  text-align: center;
}

.header__socials {
  font-size: 2rem;
  position: relative;
  display: flex;
  flex-direction: row;
  grid-area: socials;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.8rem;
  right: 10rem;
  top: 0.3rem;
}

.header__buttons {
  position: relative;
  display: flex;
  flex-flow: column;
  grid-area: btn;
  margin-top: 1rem;
  gap: 1.2rem;
  justify-content: center;
}

header #button__linkedin,
header #button__github {
  transition: var(--transition);
}
header #button__linkedin {
  color: rgb(15, 96, 189);
}

header #button__linkedin:hover,
header #button__github:hover {
  color: var(--color-terciary-variant);
}

.header__img {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  right: 5rem;
  position: relative;
  justify-content: center;
  margin: 0 auto;
}

.header__img img {
  grid-area: img;
  justify-items: center;
  /* width: 20rem; */
  height: 35rem;
  border-radius: 12rem 12rem 0 0;
}

header h3 {
  font-family: copper;
  color: var(--color-secundary);
  grid-area: h3;
}

header h2 {
  font-size: 3rem;
  grid-area: h2;
}

header h1 {
  position: relative;
  justify-content: flex-end;
  margin-top: 0rem;
  grid-area: h1;
}

#title__hided {
  display: none;
}

/* BACKGROUND SPECIAL */

.background__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 51rem;
  transition: all 1s ease;
}

.background__icon {
  color: var(--color-terciary);
  position: absolute;
}

#BGicon__1 {
  left: -38rem;
  top: 2rem;
  transform: rotateZ(-30deg);
  animation: bg_special 7s ease-in 2s infinite;
  opacity: 0;
}

#BGicon__2 {
  left: -21rem;
  top: -2rem;
  opacity: 0;
  transform: rotateZ(-10deg);
  animation: bg_special 7s ease-in infinite;
}

#BGicon__3 {
  left: 14rem;
  top: -3rem;
  opacity: 0;
  animation: bg_special 7s ease-in 3s infinite;
  transform: rotateZ(10deg);
}

#BGicon__4 {
  left: 30rem;
  top: 1rem;
  opacity: 0;
  animation: bg_special 7s ease-in 1s infinite;
  transform: rotateZ(30deg);
}

@keyframes bg_special {
  0% {
  }
  40% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.75;
  }
  100% {
    top: -39rem;
    opacity: 0;
    transform: rotateZ(0deg);
  }
}

/* MEDIA QUERIES (TABLET) */

@media screen and (max-width: 1024px) {
  .header__container {
    grid-template:
      "h3 socials"
      ". h2"
      ". img"
      ". btn"
      ". h1";
  }

  .header__img {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
    right: 0;
  }

  .header__buttons {
    flex-direction: row;
  }
}

/* MEDIA QUERIES (SMARTPHONES)*/
@media screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 0;
    margin: 0 auto;
  }

  .background__icons{
    display: none;
  }

  .header__socials {
    right: 0;
  }

  .header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header__img img {
    display: flex;
    object-fit: cover;
  }

  header h1 {
    display: none;
  }

  header h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #title__hided {
    font-size: 2.2rem;
    display: flex;
    margin-top: 0;
    justify-content: flex-start;
  }
}
