nav {
  position: sticky;
  top: 0;
  background-color: var(--color-secundary);
  z-index: 1;
}

.nav__container {
  display: flex;
  flex-direction: row;
  font-variant: small-caps;
  align-items: center;
  justify-content: space-between;
  max-height: 4rem;
}

.nav__logo {
  font-family: copper;
  background-color: var(--color-bg);
  border-radius: 50%;
  padding: 0.7rem 0.5rem;
  margin-left: 2rem;
  width: max-content;
  transition: var(--transition);
}

#button__enflag {
  transition: 0.3s ease;
}

nav #button__enflag:hover {
  background-color: var(--color-bg);
  padding: 0.1rem;
  border-radius: 50%;
}

/* Nav Menu */

.nav__menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#menu-bar {
  position: relative;
  top: 0.9rem;
  right: 2rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  z-index: 3;
  display: none;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: var(--color-terciary-variant);
  display: block;
  border-radius: 5px;
  transition: var(--transition);
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav__links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-left: auto;
  transition: 0.3s ease;
  position: relative;
}

.nav__links a {
  color: var(--color-bg);
  font-size: 1.1rem;
  /* font-weight: bold; */
  margin: 0 1rem;
  padding: 0.1rem;
  border-radius: 1rem;
  transition: var(--transition);
}

.links:hover {
  border-radius: 1rem;
  padding: 0.1rem;
  background-color: var(--color-terciary-variant);
}

.menu-bg {
  position: absolute;
  top: 153px;
  right: 0;
}

.menu-bg {
  z-index: -1;
  width: 0;
  height: 0;
  background: radial-gradient(circle, white, var(--color-terciary));
  transition: var(--transition);
}

.change {
  display: relative;
  transition: var(--transition);
}


.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

/* Scroll Event */

.coloredNav {
  background-color: var(--color-bg);
  opacity: 0.9;
}

.coloredLinks a {
  color: var(--color-primary);
  transition: all 0.3s ease;
}

.coloredLinks a:hover {
  color: var(--color-bg);
  transition: all 0.3s ease;
}

.coloredLinks #button__enflag:hover {
  background-color: var(--color-terciary-variant);
  transition: all 0.3s ease;
}

.coloredLogo {
  color: var(--color-bg);
  background: var(--color-secundary);
  transition: all 0.3s ease;
}

/* MEDIA QUERIES (TABLET) */

@media screen and (max-width: 1024px) {
.nav__links{
  gap: 0.5rem;
}
}

/* MEDIA QUERIES (SMARTPHONES)*/
@media screen and (max-width: 600px) {
  #menu-bar {
    position: absolute;
    display: block;
    top: 1rem;
    right: 4rem;
  }

  .menu-bg {
    border-radius: 0 2rem 2rem 2rem;
    width: 0;
    height: 21rem;
  }

  .nav__links {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 5rem;
    right: 1rem;
  }
  
  .nav__links a{
    color: var(--color-primary);
  }
  
  .change-bg {
    width: 14rem;
    height: 15rem;
    transform: translate(37%, -43%);
  }
}
