nav {
  position: sticky;
  top: 0;
  background-color: var(--color-secundary);
  z-index: 1;
  transition: var(--transition);
}

.nav__container {
  display: flex;
  flex-direction: row;
  font-variant: small-caps;
  align-items: center;
  justify-content: space-between;
  
}

.nav__logo {
  font-family: copper;
  background-color: var(--color-bg);
  border-radius: 50%;
  padding: 0.7rem 0.5rem;
  margin-left: 2rem;
  width: max-content;
  transition: var(--transition);  
}

.nav__links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav__links a {
  color: var(--color-bg);
  margin: 0 1rem;
  border-radius:1rem;
}

.nav__links a:hover{
  border-radius: 1rem;
  padding:0.2rem;
  background-color: var(--color-secundary-variant);
}

.coloredNav {
  background-color: var(--color-bg);
}

.coloredLinks a {
  color: var(--color-primary);
}

.coloredLinks a:hover {
  color: var(--color-bg);
}

.coloredLogo{
  color: var(--color-bg);
  background: var(--color-secundary);
}