#tecnologies {
  margin-top: 2rem;
}

.tecnologies__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  background: var(--color-secundary);
  color: white;
  border-radius: 3rem;
  padding: 2rem;
  transition: var(--transition);
  align-items: center;
  justify-items: center;
}

.tecnologies__container h1 {
  color: white;
  font-size: 2.8rem;
}

.tecnologies__tecnologies,
.tecnologies__inproject {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  grid-row: 2;
  width: 100%;
}

.tech {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.tech svg {
  width: 2.3rem;
  height: 2.3rem;
}

/* MEDIA QUERIES (TABLETS) */
@media screen and (max-width: 1024px) {
  .tecnologies__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: flex-start;
  }

  h1:last-of-type {
    margin-top: 3rem;
  }
}

/* MEDIA QUERIES (SMARTPHONES)*/
@media screen and (max-width: 600px) {
  :is(.tecnologies__tecnologies, .tecnologies__inproject) {
    flex-direction: column;
    margin-left: 4rem;
  }

  .tecnologies__container h1{
    font-size: 2rem;
  }
}
